<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Tradutor de Creepypasta</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <div class="container">

        <img src="{{ url_for('static', filename='creepytradutor.png') }}" alt="CreepyTradutor">
        <form method="POST">
            <textarea name="text" placeholder="Digite o texto em inglês..."></textarea><br>
            <button type="submit">Traduzir</button>
            <a href="https://wa.me/5511946691016?text=Olá!%20Preciso%20de%20ajuda.">
                <button type="button">Sugestões e Suporte</button>
            </a>
            <a href="https://apoia.se/nao_durma_horror">
                <button type="button">Gostou do trabalho? Ajude o criador! </button>
            </a>
        </form>

        {% if translation %}
        <div class="translation">
            <h2>Tradução:</h2>
            <p>{{ translation }}</p>
            <form method="POST" action="/download">
                <input type="hidden" name="translated_text" value="{{ translation }}">
                <button type="submit">Baixar Tradução</button>
            </form>
        </div>
        {% endif %}
    </div>

    <button onclick="openModal()">Termos de Uso</button>
</footer>

<!-- Modal de Termos de Uso -->
<div id="termsModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Termos de Uso</h2>
        </div>
        <div class="modal-body">
            <p>Ao utilizar o Tradutor de Creepypasta, você concorda com os seguintes Termos de Uso. Leia atentamente antes de prosseguir.
                2. Precisão e Limitações
                O Tradutor de Creepypasta não garante a precisão completa das traduções. Podem ocorrer erros e traduções imprecisas.
                O conteúdo traduzido é gerado automaticamente e pode não capturar nuances, expressões idiomáticas ou outros contextos culturais do texto original.
                3. Propriedade Intelectual
                O usuário garante que possui os direitos necessários para submeter o conteúdo para tradução ou que tem permissão do detentor dos direitos autorais.
                O Tradutor de Creepypasta não assume responsabilidade por infrações de direitos autorais relacionadas ao conteúdo enviado para tradução.
                4. Uso Apropriado
                O serviço não deve ser usado para traduzir ou disseminar conteúdo ilegal, ofensivo ou que viole direitos de terceiros.
                O uso do tradutor implica a aceitação de que o serviço é fornecido "como está" e para uso pessoal e não comercial.
                5. Privacidade e Dados Pessoais
                Não armazenamos permanentemente os textos enviados para tradução. No entanto, dados temporários podem ser utilizados para processar a tradução solicitada.
                Não nos responsabilizamos pela privacidade dos dados enviados por meio deste serviço.
                6. Isenção de Responsabilidade
                O Tradutor de Creepypasta não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, ou consequentes resultantes do uso ou da incapacidade de uso do serviço.
                Não garantimos a disponibilidade contínua e ininterrupta do serviço e nos reservamos o direito de modificar ou descontinuar o serviço a qualquer momento.
                7. Alterações nos Termos de Uso
                Estes Termos de Uso podem ser atualizados periodicamente. A versão atualizada será publicada neste site e recomendamos revisitar esta página para estar informado de eventuais mudanças.
                Ao clicar em "Aceito", você confirma que leu, entendeu e concorda com os Termos de Uso descritos acima.</p>
            <!-- Adicione mais texto aqui conforme necessário -->
            <label>
                <input type="checkbox" id="acceptTerms"> Eu aceito os Termos de Uso
            </label>
        </div>
        <div class="modal-footer">
            <button onclick="closeModal()">Fechar</button>
        </div>
    </div>
</div>

<script>
    // Função para abrir o modal
    function openModal() {
        document.getElementById("termsModal").style.display = "flex";
    }

    // Função para fechar o modal
    function closeModal() {
        const checkbox = document.getElementById("acceptTerms");
        if (checkbox.checked) {
            document.getElementById("termsModal").style.display = "none";
        } else {
            alert("Você deve aceitar os Termos de Uso para continuar.");
        }
    }
</script>

    <footer>
        <p>&copy; 2024 LuizMacedo. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
