<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Tradutor de Creepypasta</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <div class="container">

        <img src="{{ url_for('static', filename='creepytradutor.png') }}" alt="CreepyTradutor">
        <form method="POST">
            <textarea name="text" placeholder="Seu texto aqui"></textarea><br>
            <label for="source_language">Quer traduzir de qual idioma?</label><br>
            <select name="source_language">
                <option value="en">Inglês</option>
                <option value="fr">Francês</option>
                <option value="es">Espanhol</option>
            </select><br><br>
            <button type="submit">Traduzir</button>
            <a href="https://wa.me/5511946691016?text=Olá!%20Preciso%20de%20ajuda.">
                <button type="button">Sugestões e Suporte</button>
            </a>
            <a href="https://apoia.se/nao_durma_horror">
                <button type="button">Gostou do trabalho? Ajude o criador! </button>
            </a>
        </form>

        {% if translation %}
        <div class="translation">
            <h2>Tradução:</h2>
            <p>{{ translation }}</p>
            <form method="POST" action="/download">
                <input type="hidden" name="translated_text" value="{{ translation }}">
                <button type="submit" class="button">
                    <span class="button__text">NotePad</span>
                    <span class="button__icon"><svg class="svg" data-name="Layer 2" id="bdd05811-e15d-428c-bb53-8661459f9307" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
                  </button>
            </form>

            <form method="POST" action="/downloadDocx">
                <input type="hidden" name="translated_text" value="{{ translation }}">
                <button type="submit" class="button">
                    <span class="button__text">Docx</span>
                    <span class="button__icon"><svg class="svg" data-name="Layer 2" id="bdd05811-e15d-428c-bb53-8661459f9307" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
                  </button>
            </form>

            <form method="POST" action="/downloadPDF">
                <input type="hidden" name="translated_text" value="{{ translation }}">
                <button type="submit" class="button">
                    <span class="button__text">PDF</span>
                    <span class="button__icon"><svg class="svg" data-name="Layer 2" id="bdd05811-e15d-428c-bb53-8661459f9307" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
                  </button>
            </form>
        </div>
        {% endif %}

    
    <footer>
        <p>&copy; 2024 LuizMacedo. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
